<form class="form-horizontal">
    <div class="tabbable">
        <h3>Slicer Estimator</h3>

        <ul class="nav nav-tabs" id="SlicerEstimator_tabs">
            <li class="active"><a data-toggle="tab" href="#SlicerEstimator_basic">{{ _('Main') }}</a></li>
            <li><a data-toggle="tab" href="#SlicerEstimator_meta">{{ _('Metadata') }}</a></li>
            <li><a data-toggle="tab" href="#SlicerEstimator_development">{{ _('Development') }}</a></li>
        </ul>

        <div class="tab-content">
            <div id="SlicerEstimator_basic" class="tab-pane active">
                <h4>{{ _('Print time estimation') }}</h4>
                <div class="control-group">
                    <div class="controls" data-toggle="tooltip"
                        title="{{ _('The average estimation is based on the last prints (green dot is shown). It can be more accurate in the first minutes compared to the slicer estimation as it also includes the heatup time of the printer and is based on the print-history. After print-start slicer estimation is fine.') }}">
                        <label class="checkbox">{{ _('Use average estimation before slicer') }}
                            <input type="checkbox" data-bind="checked: settings.plugins.SlicerEstimator.average_prio">
                        </label>
                    </div>
                </div>
                <h4>{{ _('Slicer') }}</h4>
                <div class="help-block">{{ _('The slicer is selected automatically. If this does not work please open a
                    Ticket. A bug for the slicers below or an enhancement request for additional slicers.') }}
                    <p>
                    <ul>
                        <li><b>Cura</b> (Creality Slicer): {{ _('With Cura native no changes have to be applied to Cura.
                            The overall print time is read out of a comment in the GCODE. This will update continuously
                            the remaining print time.') }}</li>
                        <li><b>Simply3D</b>: {{ _('With Simplify3D no changes has to be applied to Simplify3D. The
                            overall print time is read out of a comment in the GCODE. For a correct estimation
                            OctoPrints percentage done is used as there is only the overall print time available.') }}
                        </li>
                        <li><b>PrusaSlicer</b>: {{ _('Remaining time is read out of M73 commands. This will update
                            continuously the remaining print time.') }}</li>
                        <li><b>SuperSlicer</b>: {{ _('Remaining time is read out of M73 commands. This will update
                            continuously the remaining print time.') }}</li>
                        <li><b>OrcaSlicer</b>: {{ _('Remaining time is read out of M73 commands. This will update
                            continuously the remaining print time.') }}</li>
                        <li><b>Bambu Studio</b>: {{ _('Remaining time is read out of M73 commands. This will update
                            continuously the remaining print time.') }}</li>
                    </ul>
                    <p>
                        {{ _('Additional support or a manual is available on <a
                            href="https://github.com/NilsRo/OctoPrint-SlicerEstimator" target="_blank">Github</a>.') }}
                        <button class="btn" data-bind="click: createIssue">{{ _('Create issue') }}</button>
                </div>
            </div>
            <div id="SlicerEstimator_meta" class="tab-pane">
                <h4>{{ _('Metadata') }}</h4>
                <div class="control-group">
                    <p>{{ _('How to add custom metadata to OctoPrints filelist see <a
                            href="https://github.com/NilsRo/OctoPrint-SlicerEstimator" target="_blank">here</a>!') }}
                    </p>
                    <div class="alert alert-info">
                        <i class="fas fa-info icon-info-sign iconRight"></i>
                        {{ _('Metadata has to be added in the Start GCODE in this format: (;Slicer
                        info:&lt;key&gt;;&lt;value&gt;). You can add as much metadata as you like. You can find an
                        example <a href="https://github.com/NilsRo/Cura_Anycubic_MegaS_Profile" target="_blank">here</a>
                        for Cura.') }}
                    </div>
                    <div class="controls" data-toggle="tooltip"
                        title="{{ _('Slicer standard metadata will be used also.') }}">
                        <label class="checkbox">{{ _('Use Slicer standard metadata') }}
                            <input type="checkbox"
                                data-bind="checked: settings.plugins.SlicerEstimator.metadata_slicer">
                        </label>
                    </div>
                </div>
                <h4>{{ _('Filelist') }}</h4>
                <div class="control-group">
                    <div class="controls" data-toggle="tooltip"
                        title="{{ _('Add custom metadata like filament brand, material,... in OctoPrints filebrowser after uploading a file.') }}">
                        <label class="checkbox">{{ _('View metadata') }}
                            <input type="checkbox"
                                data-bind="checked: settings.plugins.SlicerEstimator.metadata_filelist">
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{{ _('Orientation') }}</label>
                    <div class="controls" data-toggle="tooltip"
                        title="{{ _('Change the orientation in the filelist above or below the standard metadata.') }}">
                        <label class="radio">
                            <input type="radio" name="pluginFilelistOrientation" value="top"
                                data-bind="checked: settings.plugins.SlicerEstimator.metadata_filelist_align">
                            {{ _('Top') }}
                        </label>
                        <label class="radio">
                            <input type="radio" name="pluginFilelistOrientation" value="bottom"
                                data-bind="checked: settings.plugins.SlicerEstimator.metadata_filelist_align">
                            {{ _('Bottom') }}
                        </label>
                    </div>
                </div>
                <h4>{{ _('Current print') }}</h4>
                <div class="control-group">
                    <div class="controls" data-toggle="tooltip"
                        title="{{ _('Add custom metadata like filament brand, material,... in OctoPrints current print view.') }}">
                        <label class="checkbox">{{ _('View metadata') }}
                            <input type="checkbox"
                                data-bind="checked: settings.plugins.SlicerEstimator.metadata_printer">
                            {{ _('(restart of GUI - Browsersession - required)') }}
                        </label>
                    </div>
                </div>
                <h4>{{ _('Metadata') }}</h4>
                <div>
                    <select style="width: 400px;"
                        data-bind="options: pluginsSelection(), optionsText: function(item) {return item.target_name() + ' (' + item.plugin_name() + ')'}, value: selectedPlugin"></select>
                    <p>
                    <p>
                        <label class="input">{{ _('Filter') }}
                            <input type="text" style="width: 80%;" data-bind="textInput: filterTable" />
                        </label>
                    <table class="table table-striped table-condensed">
                        <colgroup>
                            <col span="1" style="width: 45%;">
                            <col span="1" style="width: 50%;">
                            <col span="1" style="width: 10px;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>{{ _('Metadata ID') }}</th>
                                <th>{{ _('Description') }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="control-group" style="white-space: nowrap;"
                            data-bind="foreach: getFilteredMetadataList()">
                            <tr>
                                <td>
                                    <div>
                                        <label class="checkbox" data-bind="attr: {title: id, for: id}">
                                            <span data-bind="text: id">MetadataID</span>
                                            <input type="checkbox"
                                                data-bind="checked: targets[$parent.selectedPluginId()][$parent.selectedPluginTarget()], attr: {id: id}" />
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" value="Input" style="width: 95%;"
                                        data-bind="value: description, attr: {title: description}" />
                                </td>
                                <td>
                                    <i class="fa fa-trash-o"
                                        data-bind="click: function() {$parent.deleteMeta($data)}"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="control">
                        <button class="btn" data-bind="click: crawlMetadata">{{ _('Refresh Metadata') }}</button>
                    </div>
                    <p>
                    <div class="alert alert-info">
                        <i class="fas fa-info icon-info-sign iconRight"></i>
                        {{ _('Use Refresh to update metadata from files. It will not delete entries...') }}
                    </div>
                </div>
            </div>
            <div id="SlicerEstimator_development" class="tab-pane">
                <div class="help-block">{{ _('Developer settings - use at your own risk / enable it on request only') }}
                </div>
                <div class="control-group">
                    <div class="controls" data-toggle="tooltip" title="{{ _('Update from development branch') }}">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: settings.plugins.SlicerEstimator.useDevChannel">
                            {{ _('Use development branch <b>Restart of OctoPrint required</b>') }}
                        </label>
                    </div>
                </div>
                <div class="row-fluid" data-bind="allowBindings: false">
                    <div class="row-fluid" data-bind="allowBindings: true">
                        <div id="metadataStored_group" class="control-group">
                            <div class="control">
                                <button class="btn"
                                    data-bind="click: deleteMetadataStored, enable: !deleteMetadataStoredRunning()"><i
                                        class="fa fa-spinner fa-spin" data-bind="visible: deleteMetadataStoredRunning"
                                        style="display: none;"></i> {{ _('Delete Metadata stored') }}</button>
                                <button class="btn"
                                    data-bind="click: updateMetadataStored, enable: !updateMetadataStoredRunning()"><i
                                        class="fa fa-spinner fa-spin" data-bind="visible: updateMetadataStoredRunning"
                                        style="display: none;"></i> {{ _('Update Metadata stored') }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>